/*
Global style
*/

body {
	font-family: 'Comfortaa', cursive;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
}

/* For the sign up section */
.sign-up-header {
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
}

.sign-up-content {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px 50px auto;
	grid-row-gap: 30px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
}

.create-account-fields {
	margin-left: 175px;
	color: red;
}

.sign-up-fields {
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Comfortaa', cursive;
	color: black;
}

.gender {
	font-family: 'Comfortaa', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
}

input:invalid {
  border: 2px dashed red;
}

#submit-sign-up {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 25px;
	margin-top: 10px;
	margin-left: 12px;
	width: 130px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}


/* For the sign up confirmation pop up */

#SignUpConfirmation {
	text-align: left;
	width: 300px;
	border: 3px solid purple;
	margin-right: 275px;
	margin-top: -80px;
	float: right;
	padding: 10px;
	display: none;
}

.pop-up-button {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 25px;
	margin: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 240px;
	cursor: pointer;
}

.buttons-wrapper a:hover {
	background-color: black;
	color: white;
}

/* Choose Interests Section */

/* Create two columns.*/
.column {
	float: left;
	text-align: center;
}

.left {
	width: 25%;
	margin: 0.5%;
}

.right {
	width: 60%;
	margin: 1% 5% 1% 0.5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




/* Stylize side bar on left hand side of preferences.html, choose-interests.html, and choose-news-formats.html page.*/
.preference-nav-bar {
	display: block;
    color: #ffffff;
    text-align: center;
    width: 50%;
    padding: 3% 10%;
    margin: 30% 33%;
    text-decoration: none;
    background-color: #919191;
    font-size: 20px;
}


.left a:hover {
    background-color: #9e9e9e;
 }



.preference-header {
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	margin: 3% auto 1% auto;
}

.preference-illustration {
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	margin: 1% auto 3% auto;
}

.interest-tags {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	grid-row-gap: 5%;
	grid-column-gap: 0.5%;
	justify-item: center;
}

.interest-tag-wrapper {
	height: 184px;
	width: 200px;
	cursor: pointer;
}

.interest-tag-wrapper:hover .interest-tag-pic {
	box-shadow: 5px 5px #000000;
}

.interest-tag-pic {
	display: block;
	height: 136px;
	width: 200px;
	text-align: center;
	opacity: 0.4; /* The opacity will change to 1.0 once it's chosen */
}


.interest-tag-text {
	height: 38px;
	width: 200px;
	margin-top: 10;
	font-size: 24px;
	text-align: center;
}

/*
Back, Save buttons for choose-interests.html
*/

.centered-buttons-wrapper {
	display: block;
	margin: 5% 0;
	text-align: center;
}


.set-preferences-button {
	border: none;
	padding: 1% 3%;
	margin: 0px 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.discard-changes {
	background-color: white;
	color: red;
	border: 2px solid red;
}

.discard-changes:hover {
	background-color: red;
	color: white;
}

.save-changes {
	background-color: #6429ad; /* Purple */
	color: white;
	border: 2px solid #6429ad;
}

.save-changes:hover {
	background-color: #b98cf2; /* light purple */
	color: white;
	border: 2px solid #b98cf2;
}

/*
Popup windows for choose-interests.html
*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .popup-content {
  max-height: 30%;
  overflow: auto;
}

/*
Stylize preferences.html
*/

.preference-module {
	margin: 5% 20%;
	padding: 0;
	background-color: #6429ad;
	opacity: 0.5;
	color: white;
}

.preference-module-heading {
	border: 5px solid  #6429ad;
}

.preference-bullet {
	list-style-type: none;
	padding: 3% 3%;
	background-color: white;
	color: #6429ad;
	border: 2px solid #6429ad;
}


/*
Stylize choose-format.html. The checkbox code is adapted from w3schools.com.
*/


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.news-format-checkbox-container {
	margin: 10% 25%;
	text-align: left;
}



.article-nav-button {
	float: left;
	margin: 5px 0px;
	color: #6429ad;
	padding: 129px 0;
	border-radius: 0;
	border: 1px solid #6429ad;

}


.event-scroller {
	float: left;
	height: 350px;
	width: 522px;
	margin: 50px;
}


.event-scroller h1 {
	height: 40px;
	margin: 5px;
}

.event {
	display: flex;
	background-color: #BCA3FF;
	float: left;
	height: 290px;
	width: 400px;
	margin: 5px;
	/* padding: 110px 0; */
	/*width: 300px;*/
	/*border: 1px solid black;*/
}

#event-politics {
	background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.3) 100%,rgba(255, 255, 255, 0.3) 100%), url("trump.jpg");
	background-size: 400px 290px;
	/* padding-top: 105px 0; */
}


#event-seasonal {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 100%,rgba(255, 255, 255, 0.3) 100%), url("affective_disorder.jpg");
	background-size: 400px 290px;
}

.event p {
	padding: 5px 0;
	margin: auto 30px;
	font-size: 25px;
	text-align: center;
	/*
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	*/
	background-color: rgba(0, 0, 0, 0.5);
}


.event a {
	color: #e3e3e3;
}
.event a:hover {
	color: white;
}
.featured-article-nav-button {
	float: left;
	margin: 150px 0px;
}

.featured-event-scroller {
	float: left;
	height: 450px;
	width: 550px;
	margin: 50px 475px;
}

.featured-event-scroller h1 {
	text-align: center;
}

.featured-event {
	background-color: #BCA3FF;
	float: left;
	height: 450px;
	width: 450px;
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
}

/* Article View */

.article-header {
	margin-left: 50px;
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: left;
	vertical-align: middle;
	font-size: 30px;
}

.article-viewer {
	margin-left: 50px;
	margin-top: 10px;
	height: 400px;
	width: 700px;
	border: 3px solid purple;
}

.right-container {
	margin-left: 785px;
	margin-top: -415px;
}

.previous-article-header {
	font-size: 20px;
	margin-bottom: 10px;
}

.previous-article-section {
	text-align: left;
	width: 300px;
	border: 3px solid purple;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 30px;
}

.helpful-links-section {
	text-align: left;
	width: 300px;
	border: 3px solid purple;
	padding: 10px;
}

/*
Navigation bar - I don't know why we need these important tags
because this css should be loaded second but we need them for now.
*/

.navbar-custom {
	background-color: #6429ad;
}

.navbar-nav > li > a {
	color: white !important;
}

.navbar-nav > li a:hover {
	background-color: black !important;
}

.navbar-brand {
	color: white !important;
}

.glyphicon-cog {
	font-size: 15px;
}

.glyphicon-education {
	font-size: 21px;
}

.navbar-search {
	margin: 7px;
}
