
/* 
Global style
*/

body {
	font-family: 'Comfortaa', cursive;
}

a {
	color: white;
}

.banner {
	height: 50px;
	padding: 0;
	margin: 0;
	color: #6429ad;
}

.step-header {
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
}


.step-content {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px 50px auto;
	grid-row-gap: 30px;
	justify-items: center;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
}

.step-illustration {
	padding: 0px;
	margin: 0px;
}

/* For the sign up section */
.sign-up-content {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px 50px auto;
	grid-row-gap: 30px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
}

.create-account-fields {
	margin-left: 15px;
	color: red;
}

.sign-up-fields {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Comfortaa', cursive;
}

.submit {
	margin-top: 120px;
}

/* For the sign up confirmation pop up */

#SignUpConfirmation {
	float: right;
	text-align: center;
	width: 300px;
	border: 3px solid purple;
	margin-right: 50px;
	margin-top: -250px;
	padding: 10px;
}

/* Interests Section */
.interest-tags {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	grid-row-gap: 30px;
	grid-column-gap: 80px;
	justify-item: center;
}

.interest-tag-wrapper {
	height: 184px;
	width: 200px;
	cursor: pointer;
}

.interest-tag-pic {
	display: block;
	height: 136px;
	width: 200px;
	text-align: center;
	opacity: 0.4; /* The opacity will change to 1.0 once it's chosen */
}


.interest-tag-text {
	height: 38px;
	width: 200px;
	margin-top: 10;
	font-size: 24px;
	text-align: center;
}

/* Buttons */

.buttons-wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.previous-button {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 20px;
	margin: 0px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.skip-button {
	background-color: #6429ad; /* Purple */
	opacity: 0.4;
	border: none;
	color: white;
	padding: 10px 35px;
	margin: 0px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.done-button {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 25px;
	margin: 0px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.pop-up-button {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 25px;
	margin: 0px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.profile-navbar {
	background-color: #6429ad;
}

.article-nav-button {
	float: left;
	margin: 150px 0px;
}

.event-scroller {
	float: left;
	height: 350px;
	width: 450px;
	margin: 100px;
}

.event-scroller h1 {
	text-align: center;
}

.event {
	background-color: #BCA3FF;
	float: left;
	height: 350px;
	width: 350px;
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
}

.featured-article-nav-button {
	float: left;
	margin: 150px 0px;
}

.featured-event-scroller {
	float: left;
	height: 450px;
	width: 550px;
	margin: 50px 475px;
}

.featured-event-scroller h1 {
	text-align: center;
}

.featured-event {
	background-color: #BCA3FF;
	float: left;
	height: 450px;
	width: 450px;
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
}

#submit-sign-up {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 25px;
	margin-top: 10px;
	margin-left: 12px;
	width: 130px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
