body {
	font-family: 'Comfortaa', cursive;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
}

/*
Homepage
*/

.center {
	margin: auto auto;
}

.homepage-content {
	display: grid;
	width: 85%;
	grid-template-columns: 47% 47%;
	grid-template-rows: auto;
	grid-column-gap: 6%;
	margin-left: 5%;
	margin-right: 5%;
}

.log-in-or-create-account {
	margin-left: 10%;
  margin-top: 10%;

}

.create-account {
	display: block;
	width: 80%;
	padding: 5% 8%;
	margin-top: 9%;
	margin-bottom: 9%;
	margin-left: auto;
	margin-right: auto;
	background:linear-gradient(to right, #6429ad, #a28caa);
	color: white;
	font-size: 18px;
	text-align: center;
}

.create-account:hover {
	color: white;
	background: linear-gradient(to right, #766191, #ceb1d6);
}

.home-header {
	text-align: left;
	vertical-align: middle;
	font-size: 49px;
	font-weight: bolder;
}

.home-content {
	font-size: 15px;
	margin-top: 7%;
	margin-left: 6px;
}

.log-in {
	display: block;
	width: 35%;
	padding: 2% 8%;
	margin-top: 0;
	margin-bottom: 3%;
	margin-left: 33%;
	margin-right: auto;
	color: #6429ad;
	background-color: white;
	font-size: 20px;
	text-align: center;
	border: 1px solid #6429ad;
}



.log-in:hover {
	box-shadow:0px 0px 0px 2px #6429ad inset;
	font-weight: bold;
	color: #6429ad;
}


/* For the sign up section */
.sign-up-header {
	text-align: left;
	margin-left: 175px;
	vertical-align: middle;
	font-size: 32px;
}

.sign-up-content {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px 50px auto;
	grid-row-gap: 30px;
	margin-top: 70px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
}

.create-account-fields {
	margin-left: 175px;
	color: red;
}

.sign-up-fields {
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Comfortaa', cursive;
	color: black;
}

.gender {
	font-family: 'Comfortaa', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
}

input:invalid {
  border: 2px dashed red;
}

#submit-sign-up {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 25px;
	margin-top: 10px;
	margin-left: 12px;
	width: 130px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

#submit-sign-up:hover {
	background-color: #BA55D3;
}


/* For the sign up confirmation pop up */

#SignUpConfirmation {
	text-align: left;
	width: 300px;
	border: 3px solid #6429ad;
	margin-right: 275px;
	margin-top: -80px;
	float: right;
	padding: 10px;
	display: none;
}

.pop-up-button {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 25px;
	margin: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 240px;
	cursor: pointer;
}

.buttons-wrapper a:hover {
	background-color: #BA55D3;
	color: white;
}

/* Choose Interests Section */

.two-column-layout {
	display: grid;
	grid-template-columns: 19% 79.5%;
	grid-template-rows: auto;
	grid-column-gap: 0.5%;
	height: 100%;
}

.profile-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #f1f1f1;

}

.profile-bullet a {
	display: block;
	color: #000;
	padding: 16px 32px;
	text-decoration: none;
}

.profile-bullet a.active {
	background-color: #6429ad;
	color: white;
}

.profile-bullet a:hover:not(.active) {
	background-color: #d1d1d1;
	color: black;
}


.preference-dashboard {
	text-align: center;
}

.preference-dashboard-header {
	font-size: 32px;
	text-align: left;
	margin-left: 15%;
}


.go-choose {
	display: inline-block;
	margin-left: 5px;
	background-color: transparent;
	color: #6429ad;
	font-weight: bold;
}

.go-choose:hover {
	color: #BA55D3;
}

.interested-areas {
	margin-top: 30px;
	background: linear-gradient(to bottom, #fff, #f1f1f1);
	padding-bottom: 3.5%;
	margin-left: 15%;
	margin-right: 15%;
}

.preferred-formats {
	margin-top: 50px;
	background: linear-gradient(to bottom, #fff, #f1f1f1);
	padding-bottom: 3.5%;
	margin-left: 15%;
	margin-right: 15%;
}

.preference-dashboard-section-header {
	display: block;
	font-size: 20px;
	background-color: #fff;
	color: black;
	margin-bottom: 5%;
	padding: 1%;
	margin-left: 18%;
	margin-right: 19%;
	border-bottom: 2px solid black;
}

.preference-dashboard-section-header:hover {
	background: linear-gradient(to right, #6429ad, #a28caa);
	color: white;
	border-bottom: 2px solid transparent;
}


.interested-area-wrapper {
	background-color: white;
	display: inline-block;
	height: 184px;
	width: 200px;
	margin: 10px 20px;
	color: black;
	border: 1px solid transparent;
}

.interested-area-pic {
	display: block;
	height: 136px;
	width: 200px;
	text-align: center;
	opacity: 1.0;
}

.hovered-picture:hover {
	border: 1px solid #a1a1a1;
}

/* Stylize side bar on left hand side of preferences.html, choose-interests.html, and choose-news-formats.html page.*/
.preference-nav-bar {
    display: block;
    color: #ffffff;
    text-align: center;
    width: 50%;
    padding: 3% 10%;
    margin: 30% 33%;
    text-decoration: none;
    background-color: #919191;
    font-size: 20px;
}

.left a:hover {
    background-color: #BA55D3;
		color: #ffffff;
 }

.preference-header {
	text-align: left;
	vertical-align: middle;
	font-size: 32px;
	margin: 3% 10% 1% 10%;
}

.preference-illustration {
	text-align: left;
	vertical-align: middle;
	font-size: 15px;
	margin: 1% 10% 3% 10%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.interest-tags {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	grid-row-gap: 5%;
	grid-column-gap: 1%;
	justify-item: center;
	margin-left: 10%;
	margin-right: 10%;
}

.interest-tag-wrapper {
	height: 184px;
	width: 200px;
	cursor: pointer;
}

.interest-tag-wrapper:hover .interest-tag-pic {
	box-shadow: 2px 5px #BA55D3;
}

.interest-tag-pic {
	display: block;
	height: 136px;
	width: 200px;
	text-align: center;
	opacity: 0.4; /* The opacity will change to 1.0 once it's chosen */
}

.interest-tag-text {
	height: 38px;
	width: 200px;
	margin-top: 8px;
	font-size: 18px;
	text-align: center;
}


/*
Back, Save buttons for choose-interests.html
*/

.centered-buttons-wrapper {
	display: block;
	margin: 5% 0;
	text-align: center;
}

.set-preferences-button {
	border: none;
	padding: 1% 3%;
	margin: 0px 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.discard-changes {
	background-color: white;
	color: red;
	border: 2px solid red;
}

.discard-changes:hover {
	box-shadow:0px 0px 0px 2px red inset;
	font-weight: bold;
	color: red;
}

.save-changes {
	background-color: #6429ad; /* Purple */
	border: 2px solid #6429ad;
	color: white;
}

.save-changes:hover {
	background-color: #BA55D3; /* light #6429ad */
	border-color: #BA55D3;
	color: white;
}

/*
Popup windows for choose-interests.html
*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #BA55D3;
}
.popup .popup-content {
  max-height: 30%;
  overflow: auto;
}

/*
Stylize preferences.html
*/

.preference-module {
	margin: 5% 20%;
	padding: 0;
	background-color: #6429ad;
	opacity: 0.5;
	color: white;
}

.preference-module-heading {
	border: 5px solid  #6429ad;
}

.preference-bullet {
	list-style-type: none;
	padding: 3% 3%;
	background-color: white;
	color: #6429ad;
	border: 2px solid #6429ad;
}

/*
Stylize choose-format.html. The checkbox code is adapted from w3schools.com.
*/

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.news-format-checkbox-container {
	margin: 10% 25%;
	text-align: left;
}

.article-nav-button {
	float: left;
	margin: 5px 0px;
	color: #6429ad;
	padding: 129px 0;
	border-radius: 0;
	border: 1px solid #6429ad;
}

.event-scroller {
	float: left;
	height: 350px;
	width: 522px;
	margin: 50px;
}

.event-scroller h1 {
	height: 40px;
	margin: 5px;
}

.event {
	display: flex;
	background-color: #BCA3FF;
	float: left;
	height: 290px;
	width: 400px;
	margin: 5px;
	color: #e3e3e3;
	/* padding: 110px 0; */
	/*width: 300px;*/
	/*border: 1px solid black;*/
}

#event-politics {
	background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.3) 100%,rgba(255, 255, 255, 0.3) 100%), url("trump.jpg");
	background-size: 400px 290px;
	/* padding-top: 105px 0; */
}

#event-seasonal {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 100%,rgba(255, 255, 255, 0.3) 100%), url("affective_disorder.jpg");
	background-size: 400px 290px;
}

#event-featured {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 100%,rgba(255, 255, 255, 0.3) 100%), url("trump.jpg");
	background-size: 400px 290px;
}

.event p {
	padding: 5px 0;
	margin: auto 30px;
	font-size: 25px;
	text-align: center;
	/*
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	*/
	background-color: rgba(0, 0, 0, 0.5);
}


.event:hover {
	color: white;
}

.featured-article-nav-button {
	float: left;
	margin: 150px 0px;
}

.featured-event-scroller {
	float: left;
	height: 450px;
	width: 550px;
	margin: 50px 0px 50px 200px;
}

.featured-event-scroller h1 {
	text-align: left;
}

.featured-event {
	background-color: #BCA3FF;
	float: left;
	height: 450px;
	width: 450px;
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
}

.login-create-account-wrapper {
	width: 390px;
	float: left;
	padding: 130px 30px;
}

.login-create-account-wrapper h1 {
	margin: 0px 140px;
}

.login-create-account-button {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 25px;
	margin: 30px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	width: 300px;
	cursor: pointer;
}

.login-create-account-wrapper a:hover {
	background-color: #BA55D3;
	color: white;
}

/* Article View */

.main-content-container {
 vertical-align: top;
}

.article-container {
	display: inline-block;
	width: 950px;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 25px;
}

.article-container-main {
	display: inline-block;
	width: 600px;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 25px;
}

.article-tag {
	background-color: #6429ad;
	color: white;
	padding: 5px;
	margin-right: 10px;
}

.article-info {
	padding: 5px;
	margin-bottom: 10px;
}

.article-header {
	margin-bottom: 10px;
	text-align: left;
	vertical-align: middle;
	font-size: 30px;
	font-weight: bold;
}

.article-content-container {
	width: 955px;
	margin-top: 6px;
}

.article-content {
	max-height: 5000px;
	overflow:hidden;
}

.article-viewer-main {
	border: 0 none;
	margin-left: -5px;
	height: 2565px;
	margin-top: -355px;
	width: 500px;
}

.article-viewer-wikipedia {
	border: 0 none;
	margin-left: -180px;
	height: 4760px;
	margin-top: -265px;
	width: 1000px;
}

.video-viewer {
	border: 0 none;
	padding: 10px 0px 5px 5px;
	height: 495px;
	width: 945px;
}

.right-container {
	display: inline-block;
	vertical-align: top;
	margin-top: 150px;
	position: fixed;
}

.main-right-container {
  vertical-align: top;
	margin-top: 210px;
	position: fixed;
	width: 1500px;
	display: inline-block;
}

.helpful-links-button {
	background-color: white;
	border: none;
	color: #6429ad;
	padding: 10px 25px;
	margin: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 160px;
	cursor: pointer;
}

.helpful-links-section {
  vertical-align: top;
	display: inline-block;
	text-align: left;
	width: 220px;
	background-color: #6429ad;
	color: white;
	margin-left: 110px;
	padding: 10px;
	margin-top: -32px;
}

.previous-article-button {
	background-color: #6429ad; /* Purple */
	opacity: 1.0;
	border: none;
	color: white;
	padding: 10px 25px;
	margin: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 160px;
	cursor: pointer;
}

.previous-article-header {
	font-size: 16px;
	margin-bottom: 10px;
}

.previous-article-section-video {
	border: 3px solid #6429ad;
	text-align: left;
	width: 220px;
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 290px;
}

.previous-article-section-wikipedia {
  vertical-align: top;
	display: inline-block;
	border: 3px solid #6429ad;
	text-align: left;
	width: 220px;
	margin-top: -30px;
	padding: 10px;
	margin-bottom: 290px;
}

.previous-article-section-main {
  vertical-align: top;
	display: inline-block;
	border: 3px solid #6429ad;
	text-align: left;
	width: 220px;
	margin-top: -30px;
	padding: 10px;
	margin-bottom: 290px;
	margin-left: 15px;
}

/*
Forums screen
*/

.forum-links-section {
	border: 3px solid purple;
	margin: 50px 100px;
	padding: 10px;
	float: left;
}

/*
Navigation bar - I don't know why we need these important tags
because this css should be loaded second but we need them for now.
*/

.navbar-custom {
	background-color: #6429ad;
}

.navbar-nav > li > a {
	color: white !important;
}

.navbar-nav > li a:hover {
	background-color: #BA55D3 !important;
}

.dropdown-menu > li a:hover {
	background-color: #BA55D3 !important;
}

.navbar-brand {
	color: white !important;
	padding: 5px 10px;
}

.glyphicon-cog {
	font-size: 15px;
}

.glyphicon-home {
	font-size: 21px;
}

.navbar-search {
	margin: 7px;
}

.logo-icon {
	width: 40px;
	height: 40px;
}

/**
Stylizes the commenting system.
**/


.comment {
	margin: 10px 0 35px 40px;
	width: 950px;
}

.comment-main {
	margin: 10px 0 35px 40px;
	width: 500px;
}


.comment-wiki {
	width: 810px;
}

.comment-header {
	margin: 5px 0px 5px 0;
	padding: 5px 0px 5px 0;
	text-align: left;
	height: 150px;
}

.comment-count {
	margin: 30px 0;
}

/** Textbox **/
.general-textarea {
	resize: none;
	display: block;
	min-height: 15px;
	width: 895px;
	overflow: hidden;
	background: transparent;
	border-color: #d8d8d8;
	border-style: none none solid none;
	border-width: 1px;
	box-shadow: none;
	color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	padding: 5px 0 8px 5px;
	margin: 5px 0 5px 5px;
}

.comment-textarea-wiki {
	width: 755px;
}

.comment-textarea-main {
	width: 445px;
}

textarea:focus {
	color: black;
	outline-width: 0;
	border-color: #000000;
	border-width: 2px;
}

::-webkit-input-placeholder {
  color: #d8d8d8;
}

textarea[name="add-comment"] {
	float: left;
}

/** Thumbnails **/
.thumbnail {
	display: block;
	float: left;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
}

/** Comment buttons **/
.comment-buttons {
	clear: both;
	text-align: right;
	margin: 5px 5px 5px 0;
	display: none;
}

.cancel-comment-button {
	background-color: white;
	color: red;
	border: 1px solid red;
	padding: 5px 10px;
	margin-right: 10px;
}

.cancel-comment-button:focus {
	outline: none;
}

.cancel-comment-button:hover {
	background-color: red;
	color: white;
}

.submit-comment-button {
	background-color: #6429ad;
	opacity: 1.0;
	color: white;
	border: 1px solid #6429ad;
	padding: 5px 10px;
	margin-left: 10px;
}

.submit-comment-button:focus {
	outline: none;
}

.submit-comment-button:hover {
	background-color: #BA55D3;
	color: white;
	border: 1px solid #BA55D3;
}

.submit-comment-button-nohover {
	background-color: #6429ad;
	opacity: 0.2;
	color: white;
	border: 1px solid #6429ad;
	padding: 5px 10px;
	margin-left: 10px;
	opacity: 0.2;
	cursor: arrow;
}

/** Comment body **/
.comment-body {
	clear: both;
	margin: 30px 0;
}

.posted-comments {
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	margin-top: 0px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 30px;
	text-align: left;
}

.post-user-name {
	display:inline-block;
	margin-right: 10px;
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	background-color: transparent;
	text-decoration: none;
}

.post-user-name:hover {
	color: #000000;
	background-color: transparent;
	text-decoration: none;
}

.post-time {
	display: inline-block;
	color: #8e8e8e;
}

.post-content {
	margin: 10px 5px 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.4em;
}


.prompt-explore-interests {
	font-size: 15px;
	text-align: left;
	margin-left: 15%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
 	align-items: center;
}

.format-list {
	font-size: 15px;
	text-align: center;
}
